@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9deatn');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9deatn#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?9deatn') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?9deatn') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?9deatn##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mapa {
  &:before {
    content: $icon-mapa; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-atras {
  &:before {
    content: $icon-atras; 
  }
}
.icon-buscar {
  &:before {
    content: $icon-buscar; 
  }
}
.icon-filtros {
  &:before {
    content: $icon-filtros; 
  }
}
.icon-more {
  &:before {
    content: $icon-more; 
  }
}
.icon-mas-button {
  &:before {
    content: $icon-mas-button; 
  }
}
.icon-mascota {
  &:before {
    content: $icon-mascota; 
  }
}
.icon-ojo {
  &:before {
    content: $icon-ojo; 
  }
}
.icon-facebook2 {
  &:before {
    content: $icon-facebook2; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}

.icon-home{
  color: #01748e;
  font-size: 6.4vw;
}
.icon-mapa{
  color: #01748e;
  font-size: 6.4vw;
}
.icon-mascota{  
  color: #01748e;
  font-size: 6.4vw;
}
.icon-more{
  color: #01748e;
  font-size: 6.4vw;
}
.icon-atras {
  color: #fa9c93;
  font-size: 6.4vw;
}

