$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../../../assets/fonts/icons" !default;

$icon-mapa: "\e909";
$icon-home: "\e908";
$icon-atras: "\e907";
$icon-buscar: "\e901";
$icon-filtros: "\e902";
$icon-more: "\e903";
$icon-mas-button: "\e904";
$icon-mascota: "\e905";
$icon-ojo: "\e906";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-whatsapp: "\ea93";
$icon-search: "\e900";

