@import "../App.scss";
@import "../styles/ResultsFilters.scss";

// Hoja de estilos de Adoption Status

.status-animal-container{
    display: flex;
    flex-direction: column;
    width: 89.5%;
    height: auto;
    border: 2pt solid $cloudyBlue;
    border-radius: 4pt;
    align-content: center;
}
.status-text-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    height: 12.2%;
}
.status-text-container h3{
    margin-left: 6.2%;
    margin-right: 26.7%;
    margin-bottom: 10%;
    margin-top: 9%;

    color: $ocean;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
}
.status-text-container p{
    margin-top: 9%;
    margin-right: 1.8%;
    margin-bottom: 10%;

    padding: 0;
    color: $inProcess;
    font-size: 1.2rem;
    font-weight: 600;
}
.circle-inprogress{
    margin-top: 9%;
    margin-bottom: 10%;

    width: 3.4vw;
    height: 3.4vw;
    border-radius: 50%;
    background-color: $inProcess;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.status-photo-wrap{
    margin-right: 5%;
    width: 28.8vw;
    height: 28.8vw;
    border: 2pt solid $cloudyBlue;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    margin-bottom: 10%;
}
.status-photo-wrap img {
    width: 170%;
}
.status-img-data-container{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 100%;
}
.text-container-status{
    height: 108pt;
    width: 40%;
}
.text-container-status{
    font-size: 1.2rem;
    color: $black;
}
