@import "../App.scss";

// Hoja de estilos AdoptionForm

// Estilos SubmittedForm

.pop-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 84vw;
  height: 74%;
  background-color: white;
  border-radius: 12pt;
  margin-top: 13vh;
}
.close-pop-up {
  margin-top: 5.4%;
  margin-bottom: 1.4%;
  width: 89%;
}
.close-pop-up h3 {
  font-size: 1.6rem;
  font-weight: 800;
  color: $pineGreen;
}
.pop-up-container h2 {
    width: 33.3%;
  font-size: 2.5rem;
  font-weight: 500;
  color: $pineGreen;
  margin-bottom: 4.8%;
}
.pop-up-container p {
  width: 75%;
  font-size: 1.6rem;
  color: $pineGreen;
  margin-bottom: 2.6%;
  text-align: center;
}
.pop-up-container img {
  margin-top: 7.3%;
  margin-bottom: 10%;
  width: 51%;
}

// Estilos de Advertisement

.advertisement-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-top: 7.5vh;
    width: 84vw;
    height: 65%;
    background-color: white;
    border-radius: 12pt;
}
.advertisement-title{
    width: 75%;
    font-size: 2.5rem;
    font-weight: 500;
    color: $ocean;
    margin-bottom: 4.3%;
}
.advertisement-container p{
    width: 75%;
    font-size: 1.6rem;
    text-align: center;
    color: $black;
    margin-bottom: 5.8%;
}
.advertisement-video{
    width: 75%;
    margin-bottom: 5.8%;
}
.advertisement-subtitle{
    width: 75%;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: $ocean;
    margin-bottom: 3%;
}
.advertisement-btn-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 28%;
    border-top: 1px solid $cloudyBlue;
}
.advertisement-btn-container input{
    width: 50%;
    border-radius: 0pt;
    background: none;
    border: 0px;
}
#continuar{
    padding: 3%;
    margin: 0%;
    height: 100%;
    font-size: 1.6rem;
    text-align: center;
    text-justify: distribute;
    color: $pineGreen;
    opacity: 50%; 
    border-radius: 0 0 12pt 0;
}
#continuar:hover{
    color: white;
    background-color: $ocean;
}
#cancelar{
    padding: 3%;
    margin: 0%;
    height: 100%;
    font-size: 1.6rem;
    text-align: center;
    text-justify: distribute;
    color: $lightSalmon;
    border-right: 1px solid $cloudyBlue;
    border-radius: 0 0 0 12pt;
}
#cancelar:hover{
  color: white;
  background-color: $lightSalmon;
}
