@import '../App.scss';

// Hoja de estilos Menu
.Menu-Container{
    -webkit-box-shadow: 0px -5px 27px -2px rgba(0,0,0,0.20); 
    box-shadow: 0px -5px 27px -2px rgba(0,0,0,0.20);
    
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 7.6vh;
    background-color: rgb(255, 255, 255);
    list-style: none;
}
.menu-ico img{
    width: 6.4vw;
}
.menu-footer{
    position: absolute;
    bottom: 0vh;
}
.active{
    background-image: image();
}
