@import '../App.scss';

// Hoja de estilos Menu
.Menu-Container{
    -webkit-box-shadow: 0px -5px 27px -2px rgba(0,0,0,0.20); 
    box-shadow: 0px -5px 27px -2px rgba(0,0,0,0.20);
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 7.6vh;
    background-color: rgb(255, 255, 255);
}
.menu-ico{
    width: 6.4vw;
}
.menu-ico-user{
    width: 6.4vw;
    color: red;
}
.menu-footer{
    position: absolute;
    bottom: 0;
  }