

.perfil-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    
    .profile-image{width:100%;text-align: center;}
    &--morepage{margin-bottom:17%;}
   
    &__card img{
        display: block;
        max-width: 50%;
        height: 79px;
        margin:0 auto;
        
        //margin: 50px auto 20px;
      }
    /*&__card img{width:70px;height:auto;border-radius:50%;border:solid 4px #dee8ea;}*/
    &__nav{width:80vw;margin-top:20px;display:flex;flex-direction:column;}
    &__nav__list{text-align:left;border-radius:5px;border:solid 1px #ccc;margin:13px 0;padding:10px 0;}
    &__nav__list a{font-size:1.6rem;padding:10px 0 10px 50px;color:#4a9cae;text-decoration:none;}
    /* Perfil Page*/
    &__nav__list.miperfil a{background: url("../assets/img/protected_page/perfil/chica.png") 6px no-repeat; }
    &__nav__list.direcciones a{background: url("../assets/img/protected_page/perfil/localization.png") 6px no-repeat; }
    &__nav__list.favoritos a{background:url("../assets/img/protected_page/perfil/favoritosCopy.png") 6px no-repeat;}
    &__nav__list.notificaciones a{background:url("../assets/img/protected_page/perfil/notificaciones.png") 6px no-repeat;}
    &__nav__list.adopcion a{margin-top:30px;background:url("../assets/img/protected_page/perfil/mascota.png") 6px no-repeat;}
    &__nav__list.apadrinar a{background:url("../assets/img/protected_page/perfil/apadrina.png") 6px no-repeat;}
    &__nav__list.donar a{background:url("../assets/img/protected_page/perfil/donar.png") 6px no-repeat;}
    /* Mas Page*/
    &__nav__list.asociacionesprotectoras a{background: url("../assets/img/protected_page/mas/protectora.png") 6px no-repeat; }
    &__nav__list.eventos a{background: url("../assets/img/protected_page/mas/eventos.png") 6px no-repeat; }
    &__nav__list.curiosidades a{background:url("../assets/img/protected_page/mas/blogCopy.png") 6px no-repeat;}
    &__nav__list.ayuda a{background:url("../assets/img/protected_page/mas/ayuda.png") 6px no-repeat;}
    
    &__nav__list.configuracion a{margin-top:30px;background:url("../assets/img/protected_page/mas/confi.png") 6px no-repeat;}
    &__nav__list.salir{margin-top:10vh;}
    &__nav__list.salir a{background:url("../assets/img/protected_page/mas/salir.png") 6px no-repeat;}

    &__nav div a i{background:url("../assets/img/protected_page/perfil/arrow1.png") no-repeat;float:right;width:18px;height:14px;margin-right:10px;}
    &__nav div a.selected i{background:url("../assets/img/protected_page/perfil/arrow-down.png") no-repeat;}
    .contenedor-dinamico{padding:10px;}

}

