@import "../App.scss";
@import "../styles/generic/icomoon/style.scss";

// Hoja de estilos Results Filters;

.filter-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 6.4vh;
  margin-top: 6.4vh;
}
.search-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  width: 60%;
  border: 1px solid $cloudyBlue;
  border-radius: 15pt;

}
.search-filters {
  width: 60%;
  height: 3.2vh;
  padding-left: 10pt;
  margin-top: 0;
  text-align: left;
  font-size: 1rem;
  border: 0;
  border-radius: 0;
}
.back-btn {
  width: 6.4vw;
  color: $lightSalmon;
}
.icon-buscar {
  font-size: 4.8vw;
  color: $lightSalmon;
  align-self: center;
}
.icon-filtros {
  font-size: 6.4vw;
  color: $lightSalmon;
  margin-right: 5.6vw;
}

.contenedor-animales{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contenedor-animales h2{
color: black;
}
.contenedor-animales p{
color: black;
}
