@import "../App.scss";
@import "../styles/generic/icomoon/style.scss";

// Hoja de estilos Results Filters;

.filter-search-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.search-filters {
    width: 68%;
}
.icon-atras {
  width: 6.4vw;
  color: $lightSalmon;
}
.icon-buscar{
    width: 4.8vw;
    color: $lightSalmon;
}
.icon-filtros{
  width: 6.4vw;
  color: $lightSalmon;
}
